@model X.PagedList.IPagedList<AulaViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*TELA DE LISTAGEM DE AULAS*@

<h1>Listagem de Aulas</h1>

<a href="/Home/Index">Voltar</a>
<br />

<div class="filtro">
    Filtro <br />
    <br />

    <div class="row">
        <div class="col-2">
            Nome do aluno <br />
            <input type="text" id="nomeAlunoAula" class="form-control" />
        </div>

        <div class="col-2">
            Data da Aula <br />
            <input type="date" id="dataAula" class="form-control" />
        </div>

        <div class="col-2">
            <br />
            <input type="button" onclick="efetuaFiltroAula()" class="btn btn-success" value="Aplicar" />
            &nbsp;
            <img src="~/images/wait.gif" width="50" id="imgWait" style="display:none" />
        </div>
    </div>
</div>

@*----------------------------------------------------------------------------------------------------------------------*@

<a href="/Aula/create">Nova Aula</a>
<br />


<div id="conteudoGrid">
    @{
        Html.RenderPartial("pvGrid", Model);
    }
</div>