@model LoginViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TELA INICIAL DE LOGAR*@

<h2>Login</h2>
<div class="row">
    <div class="col-lg-3">
        <form action="/login/Fazlogin" method="post">

            @*SELECT TIPO == INSTRUTOR OU ALUNO*@

            <label for="CPF" class="control-label">Usuário</label>
            <input asp-for="CPF" type="text" name="Usuario" class="form-control" required placeholder='Usuário/CPF...' />
            <span asp-validation-for="CPF" class="text-danger"></span>
            <br />

            <label for="senha" class="control-label">Senha</label>
            <input type="password" asp-for="senha" name="senha" class="form-control" required placeholder='Senha...' />
            <span asp-validation-for="senha" class="text-danger"></span>
            <br />

            <input type="submit" value="Login" class="btn btn-success" />
            <br />
            <span class="text-danger"> @ViewBag.Erro</span>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Instrutor" asp-action="Form">Se você é um instrutor, cadastre-se aqui</a>
</div>