@model X.PagedList.IPagedList<AnamneseViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ListagemDeAlunos.css"/>
</head>

<body>

    <div id="listagem">

        <h3>Listagem de Avaliações - Anamnese</h3>

        <div class="row">
            <div class="div">
                Id do aluno <br />
                <input type="text" id="idAluno" class="form-control" />
            </div>

            <div class="div">
                Data da Avaliação <br />
                <input type="date" id="dataAvaliacao" class="form-control" />
            </div>

            <div class="div">
                <br />
                <input type="button" onclick="efetuaFiltroAnamnese()" class="btn btn-success" value="Aplicar" id="btnAplicar" />
                &nbsp;
                <img src="~/images/wait.gif" width="50" id="imgWait" style="display:none" />
            </div>
        </div>


        @*-------------------------------------------------------------------------------------------------*@

        <div id="conteudoGrid">
            @{
                Html.RenderPartial("pvGrid", Model);
            }
        </div>

    </div>

</body>

