@model X.PagedList.IPagedList<AnamneseViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listagem de Avaliações - Anamnese</h1>

<a href="/Home/Index">Voltar</a>
<br />

<div class="filtro">
    Filtro <br />
    <br />

    <div class="row">
        <div class="col-2">
            Id do aluno <br />
            <input type="text" id="idAluno" class="form-control" />
        </div>

        <div class="col-2">
            Data da Avaliação <br />
            <input type="date" id="dataAvaliacao" class="form-control" />
        </div>

        <div class="col-2">
            <br />
            <input type="button" onclick="efetuaFiltroAnamnese()" class="btn btn-success" value="Aplicar" />
            &nbsp;
            <img src="~/images/wait.gif" width="50" id="imgWait" style="display:none" />
        </div>
    </div>
</div>

@*-------------------------------------------------------------------------------------------------*@

<div id="conteudoGrid">
    @{
        Html.RenderPartial("pvGrid", Model);
    }
</div>

