@model InstrutorViewModel
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Instrutor</h1>
<hr />

<form action="/Instrutor/Salvar" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

    <label for="Id" class="control-label">RA</label>
    @if (ViewBag.Operacao == "I")
    {
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    }
    else
    {
        <input asp-for="Id" readonly class="form-control desabilitado" />
    }

    <br />
    <label for="Nome" class="control-label">Nome</label>
    @if (ViewBag.Operacao == "I")
    {
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    }
    else
    {
        <input asp-for="Nome" readonly class="form-control desabilitado" />
    }

    <br />
    <label for="CPF" class="control-label">CPF</label>
    @if (ViewBag.Operacao == "I")
    {
        <input asp-for="CPF" class="form-control" />
        <span asp-validation-for="CPF" class="text-danger"></span>
    }
    else
    {
        <input asp-for="CPF" readonly class="form-control desabilitado" />
    }

    <br />
    <label for="dtNascimento" class="control-label">Data de Nascimento</label>
    @if (ViewBag.Operacao == "I")
    {
        <input asp-for="dtNascimento" class="form-control" type="date" />
        <span asp-validation-for="dtNascimento" class="text-danger"></span>
    }
    else
    {
        <input asp-for="dtNascimento" class="form-control" type="date" readonly />
    }

    <br />
    <label for="Sexo" class="control-label">Sexo</label>
    @if (ViewBag.Operacao == "I")
    {
        <select asp-for="Sexo" asp-items="@ViewBag.Sexo" class="form-control"></select>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    }
    else
    {
        <input asp-for="Sexo" class="form-control" type="date" readonly/>
    }


    <br />
    <label for="Telefone" class="control-label">Telefone para contato</label>
    <input asp-for="Telefone" class="form-control" />
    <span asp-validation-for="Telefone" class="text-danger"></span>

    <br />
    <label for="CEP" class="control-label">Endereço</label>
    <input asp-for="CEP" class="form-control" />
    <span asp-validation-for="CEP" class="text-danger"></span>



    <div class="form-group">
        <br />
        <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
        <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive"
             width="200">
        <span asp-validation-for="Imagem" class="text-danger"></span>
    </div>

    <br />
    <label for="Senha" class="control-label">Senha</label>
    <input asp-for="Senha" class="form-control" type="password" />
    <span asp-validation-for="Senha" class="text-danger"></span>

    <br />
    <br />
    <input type="submit" value="Salvar dados" class="btn btn-success" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/Login/Index" class="btn btn-secondary">Voltar</a>


    <br />

    <span class="text-danger">@ViewBag.Erro</span>

</form>

