@model X.PagedList.IPagedList<AlunoViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ListagemDeAlunos.css"/>
</head>

<body>

    <div id="listagem">

        <h1>Alunos Cadastrados</h1>


        <div class="row">
            <div class="div">
                <label>Nome do aluno</label>
                <input type="text" id="nomeAluno" class="form-control" />
            </div>

            <div class="div">
                <label>Data de Nascimento</label>
                <input type="date" id="dataNascimento" class="form-control" />
            </div>

            <div class="div">
                <br />
                <input type="button" onclick="efetuaFiltroAluno()" class="btn btn-success" value="Aplicar" id="btnAplicar" />
                &nbsp;
                <img src="~/images/wait.gif" width="50" id="imgWait" style="display:none" />
            </div>

            <a href="/aluno/create">Novo Registro</a>
        </div>

        @*------------------------------------------------------------------------------------------------------------------*@

        <br />

        <div id="conteudoGrid">
            @{
                Html.RenderPartial("pvGrid", Model);
            }
        </div>

    </div>

</body>

