@model X.PagedList.IPagedList<AlunoViewModel>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alunos Cadastrados</h1>

<div class="filtro">
    Filtro <br />
    <br />

    <div class="row">
        <div class="col-2">
            Nome do aluno <br />
            <input type="text" id="nomeAluno" class="form-control" />
        </div>

        <div class="col-2">
            Data de Nascimento <br />
            <input type="date" id="dataNascimento" class="form-control" />
        </div>

        <div class="col-2">
            <br />
            <input type="button" onclick="efetuaFiltroAluno()" class="btn btn-success" value="Aplicar" />
            &nbsp;
            <img src="~/images/wait.gif" width="50" id="imgWait" style="display:none" />
        </div>
    </div>
</div>

@*------------------------------------------------------------------------------------------------------------------*@

<a href="/aluno/create">Novo Registro</a>
<br />

<div id="conteudoGrid">
    @{
        Html.RenderPartial("pvGrid", Model);
    }
</div>

