@model ExercicioViewModel
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TELA DE CADASTRO DE EXERCICIO*@

<head>
    <link rel="stylesheet" href="~/css/CadastroExercicio.css"/>
</head>

<body>

    <div id="cadastro">

        @if (ViewBag.Operacao == "I")
        {
            <h1>Cadastro de Exercicios</h1>
        }
        else
        {
            <h1>Editar Exercicio</h1>
        }

        <form action="/Exercicio/Salvar" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            <label for="Id" class="control-label">Id</label>

            @if (ViewBag.Operacao == "I")
            {
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            }
            else
            {
                <input asp-for="Id" readonly class="form-control desabilitado" />
            }

            <br />
            <label for="Nome" class="control-label">Nome do exercício</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <br />

            <label for="Descricao" class="control-label">Descrição do Exercício</label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>


            <br />
            <br />
            <input type="submit" value="Salvar dados" class="btn btn-success" id="btnSalvar" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/Exercicio/Index" class="btn btn-secondary" id="btnVoltar">Voltar</a>


            <br />

            <span class="text-danger">@ViewBag.Erro</span>

        </form>

    </div>

</body>