body {
    background-image: url(/images/academia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.funcoes {
    font-weight: 300;
    margin-top: 3%;
    margin-right: 80%;
}

#btnOpcao {
    margin: 3%;
    background-color: black;
    border-color: black;
    width: 150%;
    padding: 6%;
    font-weight: 300;
    font-size: 25px;
}

#btnOpcao:hover {
    background-color: white;
    color: black;
    border-radius:5px;
}

