:root{
    --colorBG : black;
}

body {
    background-image: url(/images/academia.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}

#login {
    width: 40%;
    margin: auto;
    margin-top: 7%;
    border: 7px solid white;
    border-radius: 30px;
    background-color:white;
}

.form-control, .control-label, #btnLogin {
    width: 300%;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 300;
}

#btnLogin{
    color:white;
}

h2{
    margin:20px;
    font-size:50px;
    font-weight:300;
    margin-left:150px;

}

a {
    margin: 40px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

#btnLogin {
    background-color: var(--colorBG);
    border-radius: 10px;
    border-color: transparent;
}


