<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoveUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="cabecalhoLayout">


        <ul class="barraNavegacao">
            <li>
                <h2>MoveUP!</h2>
            </li>

            @if (ViewBag.Logado == true)
            {
                @if (ViewBag.Cadastro == true)
                {

                }
                else
                {
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="LogOff">Logoff</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @if (ViewBag.AlunoInstrutor == "I")
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Instrutor" asp-action="Edit">Editar Usuário</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Aluno" asp-action="Edit">Editar Usuário</a>
                        </li>
                    }
                }



            }

        </ul>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - N2_2BIM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
