@{
    ViewData["Title"] = "Home Page";
}
@*TELA INICIAL*@
<input type="hidden" name="AlunoInstrutor" value="@ViewBag.AlunoInstrutor" />

@*Validar com viewbag se é aluno ou instrutor*@

<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<body>

    <div class="funcoes">

        @if (ViewBag.AlunoInstrutor == "I")
        {

            <a href="/Aluno/Create" class="btn btn-secondary" id="btnOpcao">Novo Aluno +</a>
            <a href="/Exercicio/Create" class="btn btn-secondary" id="btnOpcao">Novo Exercicio +</a>
            <a href="/Aula/Create" class="btn btn-secondary" id="btnOpcao">Novo Treino +</a>
            <a href="/Aluno/Index" class="btn btn-secondary" id="btnOpcao">Alunos ></a>
            <a href="/Anamnese/Index" class="btn btn-secondary" id="btnOpcao">Anamneses ></a>
        }
        <a href="/Exercicio/Index" class="btn btn-secondary" id="btnOpcao">Exercicios ></a>
        <a href="/Aula/Index" class="btn btn-secondary" id="btnOpcao">Treinos ></a>


    </div>

</body>

