
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TELA SOBRE*@

<p>Seja bem vindo ao MoveUp,
    nesse site se você é um instrutor você pode cadastrar seus alunos, cadastrar os mais variados tipos de exercícios,
    combinar diferentes exercícios para montar aulas variadas para seus alunos e realizar avaliações de Anamnese e Risco Cardiaco
    em seus alunos.
    Para os alunos, acesse suas aulas e visualize os treinos cadastrados no site para poder treinar sozinho!!</p>

<p>Esse site foi desenvolvido por:</p>
<p>Clarice Yamaoka Bravo - 081190016</p>
<p>Gustavo Pepinelli Salgado - 081190006</p>
<p>Marcio Rios Kunimura - xxxxxx</p>
<p>Rodrigo Kawaura Montemor - 081190012</p>
<p>Michael Matheus de Silva Oliveira  - 082180038</p>
<p>Kauan Lucas Gomes Jardim - 081190040</p>