
@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Sobre.css" />
</head>
@*TELA SOBRE*@

<body>
    <div id="sobre">

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Sobre</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Seja bem vindo ao MoveUp,
                    nesse site se você é um instrutor você pode cadastrar seus alunos, cadastrar os mais variados tipos de exercícios,
                    combinar diferentes exercícios para montar aulas variadas para seus alunos e realizar avaliações de Anamnese e Risco Cardiaco
                    em seus alunos.
                    Para os alunos, acesse suas aulas e visualize os treinos cadastrados no site para poder treinar sozinho!!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="tela-sobre">
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Pepi.jpg" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Gustavo Pepineli</h2>
                        <h3 class="text-center"> RA: 081190006</h3>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Claronce.jpeg" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Clarice Yamaoka</h2>
                        <h3 class="text-center">  RA: 081190016</h3>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Michael.png" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Michael Matheus</h2>
                        <h3 class="text-center"> RA: 082180038</h3>

                    </div>
                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Marcio2.png" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Marcio Kunimura</h2>
                        <h3 class="text-center"> RA: 081200041</h3>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Rodrigo.jpeg" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Rodrigo Kawaura</h2>
                        <h3 class="text-center">  RA: 081190012</h3>
                    </div>

                    <div class="col-md-2 d-flex justify-content-center flex-column align-items-center">
                        <br />
                        <br />
                        <img src="~/images/Kauan.png" class="img_sobre img-responsive">
                        <br />
                        <h2 class="text-center">Kauan Jardim</h2>
                        <h3 class="text-center"> RA: 081190012</h3>

                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
